<div style="float: right; height: 30px;">
  <%= button_to "Выйти", '/users/logout', :class => "menu_link", :method => :get%>
</div>
<div style="float: right; text-align: center;line-height: 30px;  height: 30px;position: relative;">
  <%= @user.login %>
</div>